<launch>
	<!-- Arguments -->
	<arg name="robot_name" default="kobuki"/>
	<arg name="kobuki_id" default="1"/>
	<arg name="alpha_utility" default="2.0"/>
	<arg name="beta_distance" default="3.0"/>
	<arg name="gamma_ports" default="1.5"/>
	<arg name="UDD_factor" default="0.07"/>
	<arg name="initial_pose_label" default="default"/>
	<arg name="using_ports" default="True"/>
	<arg name="possibilistic" default="True"/> <!-- if possibilistic == False the function to set the objective becomes DETERMINISTIC -->

	<!-- odom to map TF
	<node pkg="tf" type="static_transform_publisher" name="robot_to_map" args="$(arg init_pose_x) $(arg init_pose_y) 0.0 0.0 0.0 0.0 /map /$(arg robot_name)/odom 100"/>
	-->
	
	<!-- Kobuki amcl-->
	<include file="$(find fuzzymar_multi_robot)/launch/navigation/amcl.launch" >
		<arg name="robot_name" value="$(arg robot_name)"/>
		<arg name="initial_pose_label" value="$(arg initial_pose_label)"/>
	</include>
	
	

	<!-- Velocitiy smoother -->
	<include file="$(find fuzzymar_multi_robot)/launch/navigation/velocity_smoother.launch">
		<arg name="robot_name" value="$(arg robot_name)"/>
	</include>

	<!-- Robot Operation-->
	<group if="$(arg using_ports)">  <!-- We'll use ports so the robot_operation_ports.launch will be executed -->

		<!-- Move_base-->
		<include file="$(find fuzzymar_multi_robot)/launch/navigation/move_base_ports.launch" >
			<arg name="robot_name" value="$(arg robot_name)"/>
		</include>

		<include file="$(find fuzzymar_multi_robot)/launch/nodes/robot_operation_ports.launch" >
			<arg name="robot_name" value="$(arg robot_name)"/>
			<arg name="kobuki_id" value="$(arg kobuki_id)"/>
			<arg name="alpha_utility" value="$(arg alpha_utility)"/>
			<arg name="beta_distance" value="$(arg beta_distance)"/>
			<arg name="gamma_ports" value="$(arg gamma_ports)"/>
			<arg name="UDD_factor" value="$(arg UDD_factor)"/>
			<arg name="possibilistic" value="$(arg possibilistic)"/>
		</include>

	</group>

	<group unless="$(arg using_ports)">  <!-- We won't use ports so the monitor.launch will be executed -->

		<!-- Move_base-->
		<include file="$(find fuzzymar_multi_robot)/launch/navigation/move_base.launch" >
			<arg name="robot_name" value="$(arg robot_name)"/>
		</include>

		<include file="$(find fuzzymar_multi_robot)/launch/nodes/robot_operation.launch" >
			<arg name="robot_name" value="$(arg robot_name)"/>
			<arg name="kobuki_id" value="$(arg kobuki_id)"/>
			<arg name="alpha_utility" value="$(arg alpha_utility)"/>
		</include>

	</group>
		 
</launch>