<launch>
	<!-- Arguments -->
	<arg name="robot_name" default="kobuki"/>
	<arg name="kobuki_id" default="1"/>

	<arg name="using_ports" default="True"/>

	<arg name="mission_name" default="default"/>
	<arg name="common_params" default="True"/>
	

	<!-- odom to map TF
	<node pkg="tf" type="static_transform_publisher" name="robot_to_map" args="$(arg init_pose_x) $(arg init_pose_y) 0.0 0.0 0.0 0.0 /map /$(arg robot_name)/odom 100"/>
	-->
	
	<!-- Kobuki amcl-->
	<include file="$(find fuzzymar_multi_robot)/launch/navigation/amcl.launch" >
		<arg name="robot_name" value="$(arg robot_name)"/>
		<arg name="mission_name" value="$(arg mission_name)"/>
	</include>
	

	<!-- Velocitiy smoother -->
	<include file="$(find fuzzymar_multi_robot)/launch/navigation/velocity_smoother.launch">
		<arg name="robot_name" value="$(arg robot_name)"/>
		<arg name="mission_name" value="$(arg mission_name)"/>
		<arg name="common_params" value="$(arg common_params)"/>
	</include>

	<!-- Robot Operation-->
	<group if="$(arg using_ports)">  <!-- We'll use ports so the robot_operation_ports.launch will be executed -->

		<!-- Move_base-->
		<include file="$(find fuzzymar_multi_robot)/launch/navigation/move_base_ports.launch" >
			<arg name="robot_name" value="$(arg robot_name)"/>
		</include>

		<include file="$(find fuzzymar_multi_robot)/launch/nodes/robot_operation_ports.launch" >
			<arg name="robot_name" value="$(arg robot_name)"/>
			<arg name="kobuki_id" value="$(arg kobuki_id)"/>
			<arg name="mission_name" value="$(arg mission_name)"/>
			<arg name="common_params" value="$(arg common_params)"/>
		</include>

	</group>

	<group unless="$(arg using_ports)">  <!-- We won't use ports so the monitor.launch will be executed -->

		<!-- Move_base-->
		<include file="$(find fuzzymar_multi_robot)/launch/navigation/move_base.launch" >
			<arg name="robot_name" value="$(arg robot_name)"/>
		</include>

		<include file="$(find fuzzymar_multi_robot)/launch/nodes/robot_operation.launch" >
			<arg name="robot_name" value="$(arg robot_name)"/>
			<arg name="kobuki_id" value="$(arg kobuki_id)"/>
		</include>

	</group>
		 
</launch>